<% @features.each do |feature| %>
  <ul class="feature">
    <li>
      <h2><%= link_to(feature.name, feature_path(feature)) %></h2>
      <% if can?(:update, feature) %>
        <%= link_to 'Edit', edit_feature_path(feature), :class => 'edit' %>
      <% end %>
      <% if can?(:destroy, feature) %>
        <%= link_to 'Destroy', feature, :confirm => 'Are you sure?', :method => :delete, :class => 'destroy' %>
      <% end %>

      <ul>
        <li>
          EST <%= feature.est %>H
        </li>
        <% unless feature.tags.blank? %>
          <li>
            <%= links_to_tags(feature) %>
          </li>
        <% end %>
        <% unless feature.source_url.blank? %>
          <li>
            Source at <%= auto_link(feature.source_url) %>
          </li>
        <% end %>

        <% unless feature.demo_url.blank? %>
          <li>
            Demo at <%= link_to feature.demo_url, feature.demo_url %>
          </li>
        <% end %>
        <li>
          by <%= feature.user.full_name_with_email %>
        </li>
      </ul>
    </li>
  </ul>
<% end %>